.fixed__footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: $white-font-color;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.fixed__footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0;
}

.fixed__footer__text {
  font-size: 32px;
}

.fixed__footer__button {
  width: 143px;
  height: 33px;
}
