.ct-gallery__flex {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
  }
}

// .......................... gallery .....................
.gallery {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    width: 340px;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 555px;
  }
}

.gallery__images-slider {
  min-width: 100%;

  margin: 0 auto;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    height: 430px;
    margin: 0;
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    height: 480px;
  }
}

// ................  grid .....................
.grid {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.grid__item {
  width: 23%;
  @media screen and (min-width: 480px) {
    height: 75px;
  }
  @media screen and (min-width: 768px) {
    width: 70px;
    height: 53px;
  }

  @media screen and (min-width: 1200px) {
    width: 124px;
    height: 92px;
  }
}

.grid__link {
  display: block;
  width: 100%;
  height: 100%;
}

.grid__img {
  min-height: 100%;
}

.grid__button {
  width: 100%;
  height: 100%;

  border: none;
  background: $accent-color;
  // border-radius: 5px;
}
