.footer__second {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.second__item {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
    &:last-child {
      margin: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.second__link {
  color: $gray-font-color;
  font-size: 20px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: $white-font-color;
  }
}
