//

.fourth__list {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.fourth__item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.fourth__social-icon {
  width: 41px;
  height: 39px;
}
