.footer__and {
  background-color: $accent-color;
  color: $white-font-color;
}

.and_container {
  display: block;
  background-color: $accent-color;
}

.and__text {
  height: 25px;
  padding-top: 4px;

  font-size: 15px;

  @media screen and (max-width: 767px) {
    text-align: center;

    height: 32px;
    padding-top: 6px;
  }
}
