.section__bilberry {
  padding-bottom: 39px;
}

.bilberry__list {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
    align-items: start;
    justify-content: start;

    margin: -5px;
  }
}

///////////////////////////////////// bilberry__item ///////////////////////////////////
.bilberry__item {
  @media screen and (max-width: 479px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 480px) {
    width: calc(100% - 60px) / 2;
    margin: 15px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1440px) {
    width: calc((100% - 120px) / 4);
  }
}

/////////////////////////////////////// bilberry__img /////////////////////////////////////
.bilberry__img {
  width: 100%;

  margin-bottom: 8px;

  @media screen and (min-width: 480px) {
    width: 205px;
    height: 205px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

///////////////////////////////////// bilberry__title ///////////////////////////////////
.bilberry__title {
  margin-bottom: 8px;

  font-size: 16px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

/////////////////////////////////////// bilberry__text /////////////////////////////////////
.bilberry__text {
  display: flex;
  align-items: center;

  margin-bottom: 8px;
  color: $green-font-color;

  font-size: 8px;

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 14px;
  }

  &::before {
    content: '';
    width: 6px;
    height: 4px;

    margin-right: 10px;

    background-image: url(../img/halochka.svg);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      width: 10px;
      height: 8px;
    }
    @media screen and (min-width: 1440px) {
      width: 14px;
      height: 10px;
    }
  }
}

//////////////////////////////////// bilberry__tablet-ct //////////////////////////////////
.bilberry__tablet-ct {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

//////////////////////////////////// bilberry__text-sum //////////////////////////////////
.bilberry__text-sum {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }

  font-size: 24px;
  line-height: 1;

  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 30px;
  }
}
