.hero__bg {
  width: 1140px;
  height: 440px;

  // padding-left: 20px;
  // padding-right: 20px;

  background-image: url(../img/hero-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
