.mobile-menu__item {
  margin-bottom: 9px;
  &:last-child {
    margin: 0;
  }
}

.mobile-menu__link {
  display: flex;
  align-items: center;

  height: 46px;
  padding-left: 10px;

  font-size: 24px;
  color: $white-font-color;
  background-color: #ee7200;

  @media screen and (min-width: 480px) {
    padding-left: 20px;
  }
}

.mobile__footer {
  margin-top: 100%;
}
