.menu-toggle {
  min-height: 68px;
  min-width: 68px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: $accent-color;
  cursor: pointer;
  border: none;
  //   border-radius: 50%;
  outline: none;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle__icon-menu {
  fill: $white-font-color;
}

// .menu-toggle__icon-menu:hover,
// .menu-toggle__icon-menu:focus {
//   fill: var(--accent-color);
// }

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: $accent-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);
}

.menu-container {
  overflow: scroll;
}
